[Unit]
Description=tinybox Button Service
After=local-fs.target
Before=displayservice.service
DefaultDependencies=no

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/tinybox/build/venv/bin/python3 /opt/tinybox/service/buttonservice.py
Restart=always
RestartSec=1

[Install]
WantedBy=sysinit.target
