[Unit]
Description=tinychat LLM
After=network.target

[Service]
Type=simple
User=tiny
Group=tiny
ExecStart=/opt/tinybox/service/tinychat/redbean.com -v -D /opt/tinybox/tinygrad/examples/tinychat/
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
