[Unit]
Description=tinybox power-limit service
After=systemd-modules-load.service
ConditionPathExists=/dev/kfd

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/opt/rocm/bin/amd-smi set -o 304
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
