[Unit]
Description=First Setup Service
After=network.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=bash /opt/tinybox/setup/firstsetup.sh

[Install]
WantedBy=multi-user.target
