[Unit]
Description=tinybox provisioning
After=network.target autoupdate-tinybox.service

[Service]
Type=simple
User=tiny
Group=tiny
ExecStart=bash /opt/tinybox/setup/provision.sh
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
