[Unit]
Description=Bootup Screen
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=python3 /opt/tinybox/setup/bootup.py

[Install]
WantedBy=basic.target
